<template>
  <div class="headerExtand">
    <span class="currenTime">{{ currentTime }}</span>
  </div>
</template>

<script>
import { Modal } from 'ant-design-vue'
import { getCurrentTime } from '@/utils/util'

export default {
  data() {
    return {
      currentTime: ''
    }
  },
  computed: {},
  methods: {
    forUse() {
      setInterval(() => {
        this.currentTime = getCurrentTime()
      }, 1000)
    }
  },
  mounted() {
    this.forUse()
  }
}
</script>

<style lang="less" scoped>
.headerExtand {
}
</style>
